<!DOCTYPE html>
<html>
  <head>
    <title>GossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap" rel="stylesheet">
  </head>
  <header>
    <nav>
      <div class="nav-item">
        <%= link_to "ACCUEIL", "/home" %>
      </div>
      <div class="nav-item">
        <%= link_to "GOSSIPS", "/index" %>
      </div>
      <div class="nav-item">
        <%= link_to "UTILISATEURS", "/users" %>
      </div>
      <div class="nav-item">
        <%= link_to "TEAM", "/team" %>
      </div>
      <div class="nav-item">
        <%= link_to "CITIES", "/cities" %>
      </div>
      <div class="nav-item">
        <%= link_to "CONTACT", "/contact" %>
      </div>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
